---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Jordan Angel - Soporte Técnico y Desarrollo">
	<main class="max-w-4xl mx-auto px-4 mt-10">
        <Hero />
        <Experience />
	</main>
</Layout>