---
---
<footer class="w-full max-w-4xl mx-auto px-4 py-8 mt-10 text-center text-sm text-slate-200 border-t border-slate-200">
  <p>
    Lima - 2026. Inspirado en <a href="https://porfolio.dev" target="_blank" rel="noopener noreferrer" class="hover:underline text-blue-600 font-medium">porfolio.dev</a> de midudev.
  </p>
</footer>