---
---
<header class="flex justify-between items-center py-5 w-full max-w-4xl mx-auto px-4">
  <span class="text-xl font-bold text-blue-600">Jordan Angel</span>
  <nav class="flex flex-row gap-x-6 opacity-80 text-sm font-medium">
    <a href="#top" class="hover:text-blue-600 transition">Inicio</a>
    <a href="#experiencia" class="hover:text-blue-600 transition">Experiencia</a>
    <a href="#proyectos" class="hover:text-blue-600 transition">Proyectos</a>
  </nav>
</header>